services:
  php:
    build: .
    ports:
      - "80:80"
      - "443:443"
    env_file:
      - .env
    volumes:
      - ./:/app
    environment:
      SERVER_NAME: :80
    tty: true

  database:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_DB: app
      POSTGRES_PASSWORD: secret
      POSTGRES_USER: app
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db-data:
